.qrscanner video {
  max-width: 100%;
  max-height: 100%;
}

.row-element-set {
  display: flex;
  flex-direction: column;
}

/* .row-element {
  padding: 0.2em 0em;
} */

.fixUp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background: teal;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
  height: 300px;
}

.row-element-set-QRScanner {
  max-width: 30em;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  justify-content: center;
}

.form-field-caption {
  font-weight: bold;
}

.form-field-input {
  width: 100%;
}
