.theme-white {
  /* breadcrumb style */
  /* card header style */
  /* table pagination style */
  /* primary button */
  /* Tab selected color */ }
  .theme-white .navbar {
    background-color: #fff; }
  .theme-white .navbar-brand {
    color: #2c303b; }
    .theme-white .navbar-brand:hover {
      color: #2c303b; }
    .theme-white .navbar-brand:active {
      color: #2c303b; }
    .theme-white .navbar-brand:focus {
      color: #2c303b; }
  .theme-white .nav > li > a {
    color: #2c303b; }
    .theme-white .nav > li > a:hover {
      background-color: transparent;
      text-decoration: none; }
    .theme-white .nav > li > a:focus {
      background-color: transparent;
      text-decoration: none; }
  .theme-white .nav .open > a {
    background-color: transparent; }
    .theme-white .nav .open > a:hover {
      background-color: transparent; }
    .theme-white .nav .open > a:focus {
      background-color: transparent; }
  .theme-white .bars {
    color: #2c303b; }
  .theme-white .sidebar .menu .list li.active {
    background-color: transparent; }
    .theme-white .sidebar .menu .list li.active > :first-child i, .theme-white .sidebar .menu .list li.active > :first-child span {
      color: #FFF; }
  .theme-white .sidebar .menu .list li a {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .theme-white .sidebar .menu .list li a i, .theme-white .sidebar .menu .list li a span {
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    .theme-white .sidebar .menu .list li a:hover {
      color: #FFF; }
      .theme-white .sidebar .menu .list li a:hover i, .theme-white .sidebar .menu .list li a:hover span {
        color: #FFF; }
  .theme-white .sidebar .menu .list .toggled {
    background-color: transparent; }
  .theme-white .sidebar .menu .list .toggled::after {
    color: #FFF; }
  .theme-white .sidebar .menu .list .ml-menu {
    background-color: transparent; }
    .theme-white .sidebar .menu .list .ml-menu .active a {
      font-weight: 700; }
  .theme-white .sidebar .legal {
    background-color: #2c303b; }
    .theme-white .sidebar .legal .copyright a {
      color: #fff !important; }
  .theme-white .breadcrumb li a {
    color: #00bcd4 !important; }
  .theme-white .card .header h2 strong {
    color: #583a63 !important; }
  .theme-white .page-item.active .page-link {
    background-color: #00bcd4;
    border-color: #00bcd4;
    color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2); }
  .theme-white .btn-primary {
    background-color: #00bcd4 !important;
    color: #fff !important;
    border-color: #00bcd4 !important; }
    .theme-white .btn-primary:hover {
      background-color: #00bcd4 !important;
      color: #fff !important; }
    .theme-white .btn-primary:active {
      background-color: #00bcd4 !important;
      color: #fff !important; }
    .theme-white .btn-primary:focus {
      background-color: #00bcd4 !important;
      color: #fff !important; }
    .theme-white .btn-primary:disabled {
      background-color: #00bcd4 !important;
      color: #fff !important; }
  .theme-white .btn-outline-primary {
    background: 0 0 !important;
    color: #2c303b !important;
    border: 1px solid #00bcd4 !important; }
    .theme-white .btn-outline-primary:hover {
      background: #00bcd4 !important;
      color: #fff !important;
      border: 1px solid #fff !important; }
  .theme-white .timelineLabelColor strong {
    color: #00bcd4 !important; }
  .theme-white .top-sidebar .horizontal-menu li.active > a {
    color: #00bcd4; }
  .theme-white .top-sidebar .horizontal-menu li a {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .theme-white .top-sidebar .horizontal-menu li a:hover {
      color: #00bcd4; }
  .theme-white .demo-choose-skin li.actived:after {
    color: #000; }
  .theme-white .sidemenu-collapse {
    color: #000; }
  .theme-white .nav-tabs > li > a:before {
    border-bottom: 2px solid #00bcd4; }

/*Logo Header Background Color*/
.logo-white .navbar-header {
  background-color: #fff; }
  .logo-white .navbar-header .logo-name {
    color: #000; }
