<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/defaultLayout.html">
<th:block layout:fragment="addhead"> </th:block>

<th:block layout:fragment="content">
  <div class="col-12">
    <!-- <div class="card" id="mycard-closable">
        <div class="card-header">
          <h4>RFID 게이트 Config</h4>
        </div>
      </div> -->

    <div class="card" id="mycard-closable">
      <div class="card-header">

        <select id="GROUP_CODE" name="GROUP_CODE"></select>

        <div class="pull-right fill-up">
          <button type="button" id="btnSave" name="btnSave" class="btn btn-info ml-2">저장</button>
        </div>

      </div>
    </div>

    <!-- <span th:text="${session[UserDto].vendor_code}"></span>  -->

    <table class="table stripe row-border border nowrap tableMain" id="tableMain"
      style="width: 100%; text-align: center">
      <thead>
        <tr>
          <th><input type="checkbox" name="select_all" value="1" id="select-all"></th>
          <th>중메뉴</th>
          <th>메뉴</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</th:block>

<th:block layout:fragment="addscript">
  <script defer>
    var tableMain;
    $(function () {
      //제이쿼리 DataTable 선언
      tableMain = $("#tableMain")
        .DataTable({
          lengthChange: false,
          searching: false,
          info: false,
          deferRender: true,
          info: false,
          scrollX: true,
          //scrollY: "300px", //'50vh',
          scrollCollapse: true,
          paging: false,
          //select: false,
          stateSave: false,
          ordering: false,
          columnDefs: [{
            targets: 0,
            orderable: false,
            render: function (data, type, full, meta) {
              if (data.charAt(0) == '0')
                return '<input type="checkbox" name="id[]" value="' + $('<div/>').text(data).html() + '">';
              else
                return '<input type="checkbox" checked name="id[]" value="' + $('<div/>').text(data).html() + '">';
            }
          },
          //{ className: "dt-body-right", targets: [ 1 ] }  ,
          { className: "dt-body-left", targets: [2] }
          ],
        })
        .draw(false);

      selectAuthGroup();

      $('#select-all').on('click', function () {
        var rows = tableMain.rows({ 'search': 'applied' }).nodes();
        $('input[type="checkbox"]', rows).prop('checked', this.checked);
      });

      $('#tableMain tbody').on('change', 'input[type="checkbox"]', function () {
        if (!this.checked) {
          var el = $('#select-all').get(0);
          if (el && el.checked && ('indeterminate' in el)) {
            el.indeterminate = true;
          }
        }
      });


      $("#GROUP_CODE").change(function () {
        selectTable(tableMain, $(this).val());
      });

      $("#btnSave").on("click", function () {
        var values = '';
        var arr = $('input[name="id[]"]:checked');
        arr.each(function (index) {
          if (index == (arr.length - 1)) {
            values = values + ($(this).val()).substring(1);
          }
          else {
            values = values + ($(this).val()).substring(1) + ',';
          }
        });
        USER_MENU_UPDATE($('#GROUP_CODE').val(), values);
      });

    });

    function selectAuthGroup(dataTable) {
      callProcedureList("PK_RF_COMMON.COMMON_SELECT",
        ["TB_RF_AUTH_GROUP",
          "",],
        function (listMap) {
          $.each(listMap, function (index, v) {
            $('#GROUP_CODE').append("<option value='" + v.CODE + "'>" + v.DES + "</option>");
          })

          selectTable(tableMain, 'ADMIN');

        });

    }




    function selectTable(dataTable, code) {
      callProcedureList("PK_RF_USER.USER_MENU",
        [code],
        function (listMap) {
          dataTable.clear();
          if (listMap == null) {
            toast("조회 결과가 없습니다.");
          } else {
            listMap.map((v) => {
              dataTable.row.add([v.ISYN + v.SEQ, v.TITLE1, v.TITLE2]);
            });
          }
          dataTable.draw();
        });
    }



    function USER_MENU_UPDATE(_code, _values) {
      callProcedureRet("PK_RF_USER.USER_MENU_UPDATE",
        [_code,
          _values,
          ',',],
        function (ret) {
          alert(ret.retcd);
        });

      // ajaxSP("/web/system/ajaxUpdateAuthAllowSite",
      //     {
      //       code: _code,
      //       values: _values   
      //     },
      //     function (ret) {
      //         alert(ret.retcd);
      //     });
    }
  </script>



</th:block>

</html>