<!-- main-footer -->
<footer class="footer bg-grey"> 
    <div class="footer-left">
        COPYRIGHT COWAY CO.,LTD. ALL RIGHTS RESERVED.
    </div>
    <div class="footer-right">
    </div>
  </footer>  