<nav class="navbar navbar-expand-lg main-navbar p-0">
  <div class="form-inline mr-auto">
    <ul class="navbar-nav">
      <li>
        <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"><i class="fas fa-bars"></i></a>
      </li>
      <li>
        <h6 class="m-0" id='naviTitle' style="line-height: 32px;">타이틀</h6>
      </li>
      <li>
        <a class='pr-2 pl-2' id="btnReload"><i class="fas fa-redo-alt"></i></a>
        <!-- <button type="button" id="btnInsertQRData" class="btn btn-primary btn-sm p-0 m-0">test4</button>
        <button type="button" id="btnCountReset" class="btn btn-primary btn-sm p-0 m-0">test2</button>
        <button type="button" id="btnInsertQRData2" class="btn btn-primary btn-sm p-0 m-0">test3</button> -->
      </li>
      <li>
        <span id='qrval'></span>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav navbar-right">
    <li class="dropdown dropdown-list-toggle pr-2" th:if="${! session.UserDto.auth_group_code.equals('ADMIN') }"><a
        href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg">
        <i class="far fa-bell"></i><span id='notilisttotal' class="notification-count bg-green">0</span></a>
      <div class="dropdown-menu dropdown-list dropdown-menu-right">
        <div class="dropdown-header">알림
        </div>

        <div id='notilist' class="dropdown-list-content dropdown-list-icons">
        </div>
      </div>
    </li>
    <li>
      <a class="pull-right m-0 mr-1 p-2" id="btnManualQR"><i class="fas fa-calculator"></i></a>
    </li>
    <li> 
      <a class="pull-right m-0 mr-2 p-2" id="btnScanQR"><i class="fas fa-camera"></i></a>
    </li>

  </ul>
</nav>

<script defer>


  function setNavTitle(title) {
    $('#naviTitle').text(title);
  }

  window.onload = function () {
    alertListShow();
    
    $(function () {
      $("#btnScanQR").on("click", function () {
        callApp("doScan", "");
        //scanQR('asdf','dfs');
      });

      $("#btnManualQR").on("click", function () {
        var div = document.createElement('div');
            div.innerHTML = `<div style='display: flex;'><span class='mt-2 nowrap'>금형코드&nbsp;:&nbsp;</span><input class="swal-content__input" 
            					id='swalManualQrCode' value='' placeholder="금형코드 11자리 입력"></div>`;

            swal({
                // closeOnClickOutside: false,
                content: div,
                buttons: {
                    cancel: "취소",
                    request: {
                        text: "수기입력",
                        value: true,
                    },
                },
            }).then((value) => {
                if (value) {
                  qrCode = $('#swalManualQrCode').val().toUpperCase();
                  if (qrCode.length != 11){
                      swal("11자리 금형코드를 입력해주세요");
                      return;
                  }
                  insertManualData(qrCode);
                }
            });
      });

      $('#btnReload').on('click', function () {
        location.reload();
      });
    });
  };

  function setTotalAlertCount(count) {
    $("#notilisttotal").html(count);
  }

  function alertListShow() {

    callProcedureList("PK_RF_NOTICE.ALERT_SELECT",
      [VENDOR_CODE],
      function (listMap) {
        if (listMap == null) {
          return;
        }

        setTotalAlertCount(listMap.length);
        var notilist = document.getElementById("notilist");

        listMap.forEach(function (one) {
          notilist.insertAdjacentHTML('beforeend', "<a href='/web/main/dashboard' class='dropdown-item dropdown-item-unread' id='alert" + one.SEQ + "'> <span class='dropdown-item-icon l-bg-orange text-white'> <i class='fas fa-clipboard-check' aria-hidden='true'></i> </span> <span class='dropdown-item-desc'>"
            + one.TITLE + " </span> </a>");

          // if (one.KIND == 'A') {
          //   notilist.insertAdjacentHTML('beforeend', "<a href='#' class='dropdown-item dropdown-item-unread'> <span class='dropdown-item-icon l-bg-green text-white'> <i class='far fa-sticky-note'></i> </span> <span class='dropdown-item-desc'>"
          //     + one.TITLE + " </span> </a>");
          // }
          // else {
          //   notilist.insertAdjacentHTML('beforeend', "<a href='#' class='dropdown-item dropdown-item-unread'> <span class='dropdown-item-icon l-bg-orange text-white'> <i class='fas fa-clipboard-check' aria-hidden='true'></i> </span> <span class='dropdown-item-desc'>"
          //     + one.TITLE + " </span> </a>");
          // }
        });
      });
  }


</script>