 
<marquee class='mb-2' behavior="scroll" direction="left" scrollamount=5 style="padding-top: 75px;">
    <div th:if="${! session.UserDto.auth_group_code.equals('ADMIN')}" id="rollingNotice" >
        <!-- <a href="/web/main/dashboard">이달안에 재고실사 처리해 주세요</a> -->
    </div>
</marquee>  