<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="/web/main/dashboard">
          <span class="logo-name"><img alt="image" src="/logo.png" class="header-logo"/></span>
        </a>
      </div>
      <ul class="sidebar-menu">
          <li class="dropdown active" style="display: block;">
               <div class="sidebar-profile">
                 <!-- <div class="siderbar-profile-pic">
                     <img src="assets/img/users/user-6.png" class="profile-img-circle box-center" alt="User Image">
                 </div> -->
                 <div class="siderbar-profile-details">
                     <div class="siderbar-profile-name" id="vendorName" th:text="${session.UserDto.vendor_name}">업체명</div>
                    <span class="siderbar-profile-position" id="vendorCode" th:text="${session.UserDto.vendor_code}" style="display: none;">업체코드</span>
                 </div> 
             </div>
         </li>
        <li class="menu-header">Main</li>
        
        <th:block th:if="${session.UserDto.menuElement != null}" th:utext="${session.UserDto.menuElement }"></th:block>    
        
      </ul>
      <li class="menu-header">문의사항<br>이메일 : siyeongj08@intellithinx.com<br>연락처 : 010-5936-9438</li>
      <!-- 운영변경 -->
      <li id="appVersion" class="menu-header"> App Ver. 1.23 </li>
    </aside>
  </div>