.scrollWrap {
  width: 100%;
  height: auto;
  overflow-x: auto;
  white-space: nowrap !important;
}

.imgApprove{
  border: 1px solid gray !important;
  height: 4rem;
  width: 4rem;
}



.tableMain thead {
  background-color: lightblue;
}

.tableSub thead {
  background-color: lightpink;
}
/* 
td {
  height: 19px;
} */

.wrap {
  display: inline !important;
}

.nowrap {
  white-space: nowrap !important;
}

.pull-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pull-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fill-up {
  flex-grow: 1;
}

/* 부트스트랩 col 에서 패딩을 전부 제거 (너무 여백이 많아서..) */
[class^="col"] {
  padding-left: 0;
  padding-right: 0;
}

.footer {
  width: 100%;
  /* margin-top: 30px; */
  bottom: 0;
  text-align: center;
  color: white;
  position: fixed;
  left: 0;
  z-index: 1;
}

.main-content {
  margin-bottom: 30px;
}

.flex-box {
  display: flex;
}

table.dataTable tbody td.select-checkbox:before {
  top: 50%;
}

table.dataTable tbody td.select-checkbox:after {
  top: 50%;
}

table.dataTable tbody td {
  padding-top: 4px;
  padding-bottom: 4px;
}

.visibleAdmin {
  display: none;
}

.col-form-label {
  margin-right: 10px;
}

.table thead tr {
  height: 0.3rem;
  line-height: 0.3rem;
  white-space: nowrap;
}

body {
  margin-bottom : 70px;
}


.wordInRadio {
  display: block; 
  padding-top: 0.7rem; 
  padding-bottom: 0.7rem; 
  position: relative; 
  margin-left : 2.5rem;
}

.wordInRadio input {
  display: none;
}

.wordInRadio span {
  border: 1px solid #ccc;
  width: 2rem; 
  height: 2rem; 
  position: absolute; 
  overflow: hidden; 
  line-height: 1.7rem; 
  text-align: center; 
  border-radius: 30%; 
  font-size: 1.5rem; 
  top: 50%; 
  left: -2.2rem;
  margin-top: -12.5px;
}


input:checked + .spanUsingState1 {
  color: #fff;
  background: #11CE9D; 
  border-color: #79D4C6;
}

input:checked + .spanUsingState2 {
  color: #fff;
  background: #00BD8C; 
  border-color: #79D4C6;
}

input:checked + .spanUsingState3 {
  color: #fff;
  background: #00AC7B; 
  border-color: #79D4C6;
}

input:checked + .spanUsingState4 {
  color: #fff;
  background: #009B7A; 
  border-color: #79D4C6;
}


input:checked + .spanToolsState1 {
  color: #fff;
  background: #CE2985; 
  border-color: #D66792;
}

input:checked + .spanToolsState2 {
  color: #fff;
  background: #BD1876; 
  border-color: #D66792;
}

input:checked + .spanToolsState3 {
  color: #fff;
  background: #AC0765; 
  border-color: #D66792;
}

input:checked + .spanToolsState4 {
  color: #fff;
  background: #9B0654; 
  border-color: #D66792;
}
